.key{
    background-color: white;
    height: 300px;
    width:45px;
    border: 2px solid black;
}
.key-text{
    position: relative;
    color: black;
    font-weight: 500;
    font-size: 30px;
    margin-top: 250px;
    pointer-events: none;
}
.key.flat{
    position: relative;
    background-color: black;
    margin-left: -17px;
    margin-right: -17px;
    height: 300px;
    width: 24px;
    z-index: 2;
}